<h1 class="main-ui-body-title">Credits</h1>

<div class="main-content-box-matrix">
	<div class="main-content-box new-item">
		<h2>Developed by <a href="http://ericeastwood.com/" class="open-in-browser">Eric Eastwood</a></h2>
		<br />

		<h2>Acknowledgements:</h2>
		<ul>
			<li>Amon on OpenGameArt.org</li>
			<li>HaelDB on OpenGameArt.org</li>
			<li>Joe Reynolds - Professorlamp (<a href="http://www.joereynoldsaudio.com/" class="open-in-browser">jrtheories.webs.com</a>) on OpenGameArt.org</li>
		</ul>

	</div>
</div>