
<div class="reticle-container">
	<div class="reticle normal"></div>
</div>

<div class="territory-progress-wrapper">
	<div class="territory-progress-holder">
		
		<div class="territory-progress">
			<div class="territory-progress-liquid"></div>
		</div>

	</div>
</div>



<div class="score-holder">
</div>


<div class="controls-container">
	<div class="keycap-holder">
		<div class="keycap">W</div>
		<br/>
		<div class="keycap">A</div>
		<div class="keycap">S</div>
		<div class="keycap">D</div>
	</div>

	<br /><br />

	<div>Hold <strong>Shift</strong> while landing on a Mesh Edge</div>
	<div class="keycap-holder">
		<div class="keycap longer">Shift</div>
	</div>

	<br /><br />

	<div>Toggle controls on screen with <strong>?</strong></div>
	<div class="keycap-holder">
		<div class="keycap">?</div>
	</div>
</div>